:root{
    --bs-headerText:'Noto Serif JP', sans-serif;
    --bs-headerParagraph:'Montserrat', sans-serif;
}

$dark:#F8F3E9;

.navbar-brand{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.mainNavItems{
    ul{
        font-family: 'ABeeZee';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }
}
.ourStoryHeader{
    margin: 0;
    margin-top: 50px;
    h1{
        font-family: var(--bs-headerText);
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
    }
    p{
    color: #3D3D3F;
    font-family: var(--bs-headerParagraph) ;
    font-size: 12px;
    }
}
.column1Hero{
    h1{
        font-size: 35px;
        text-align: left;

    }
}

.circleExplore{
  width: 100px;
  height: 100px;
  z-index: 3502;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  outline: #3D3D3F 1px solid;
  text-decoration: underline;
        
  top: 0;   
  width: 100px;
  height: 100px;
  outline: #3D3D3F 1px solid;
text-decoration: underline;
}
.playBtn{
    width: 50%;
    height: 50px;
    background-color: none;
    bottom: 30px;
    right: 0;
}
.play{
    gap:20px;
}
.goldSilverText{
    margin-left: 0;
    margin-top: 50px;
    p{
        font-size: 12px;
        font-family: var(--bs-headerParagraph);
    }
}

.goldText{
    font-family: var(--bs-headerText);
   
}
.silverText{
    font-family: var(--bs-headerText);
}

//for tablet
@media only screen and (min-width: 768px){
    .ourStoryHeader{
        margin-left: 20px;
        margin-top: 20px;
        h1{
            font-size: 25px;
        }
        p{
            font-size: 12px;
        }
        
    }
    .bar{
        margin-top: 150px;
    }
    .jewelryText{
        margin-left: 50px;

        // h1{
        //     font-size: 25px;
        // }
    }
    
    .circleExplore{
        top: 0;
        left: -30px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        outline: #3D3D3F 1px solid;
        z-index: 3502;
        display: block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        outline: #3D3D3F 1px solid;
        text-decoration: underline;
        
    }
    .playBtn{
        bottom: 30px;
        right: 0;
        width: 50%;
    }

    .goldSilverText{
        margin-left: 50px;
    }

}
//for laptop
@media only screen and (min-width: 992px){
    .ourStoryHeader{
        margin-left: 40px;
        margin-top: 20px;
        h1{
            font-size: 34px;
        }
        p{
            font-size: 14px;
        }

    }
    .column1Hero{
        h1{
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        font-family: var(--bs-headerText);
        }
    }

    .jewelryText{
    margin-left: 100px;
    }

    .bar{
        margin-top: 150px;
    }
    .circleExplore{
        top: 40px;
        left: -70px;
        width: 120px;
        height: 120px;
        z-index: 3502;
        display: block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        outline: #3D3D3F 1px solid;
        text-decoration: underline;

        

    }

    .playBtn{
        bottom: 200px;
        right: 0;
        width: 30%;
    }

    .goldSilverText{
        margin-left: 100px;
    }
   
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';


